Source: ros-kinetic-web-video-server
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), libav-tools, libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev, ros-kinetic-async-web-server-cpp, ros-kinetic-catkin, ros-kinetic-cv-bridge, ros-kinetic-image-transport, ros-kinetic-roscpp, ros-kinetic-roslib
Homepage: http://ros.org/wiki/web_video_server
Standards-Version: 3.9.2

Package: ros-kinetic-web-video-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libav-tools, libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev, ros-kinetic-async-web-server-cpp, ros-kinetic-cv-bridge, ros-kinetic-image-transport, ros-kinetic-roscpp, ros-kinetic-roslib
Description: HTTP Streaming of ROS Image Topics in Multiple Formats
